<div class="page">
    <table class="table">
        <thead class="note-header">
            <tr>
                <th>{{ 'NOTES.NOTE_MESSAGE' | translate }}
                    <button 
                        (click)="sortOfMessage()"
                        type="button" 
                        class="btn btn-outline-secondary btn-sm">
                        ^
                    </button>
                </th>
                <th>{{ 'NOTES.NOTE_DATE' | translate }}
                    <button 
                        (click)="sortOfDate()"
                        type="button"
                        class="btn btn-outline-secondary btn-sm">
                        ^
                    </button>
                </th>
                <th class="delete-column"></th>
            </tr>
        </thead>
        <tbody *ngFor="let note of notes" class="note-body">
            <tr (click)="openCreateDialog(note)" class="note">
                <td>
                    <p class="note-message">{{ note.message }}</p>
                </td>
                <td>
                    <p class="note-date">{{ note.createdOn }}</p>
                </td>
                <td class="delete-column">
                    <a (click)="deleteNote(note)">
                        <p class="note-delete">{{ 'NOTES.BUTTON_DELETE' | translate}}</p>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <button 
        (click)="openCreateDialog()" 
        class="btn btn-primary add-note">
        {{ 'NOTES.BUTTON_CREATE' | translate}}
    </button>
</div>
