@import '../../assets/styles/_variables.scss';

a {
    text-decoration: none;
    color: black;
}
.table {
    margin: 24px;

    .delete-column{
        width: 24px !important;

        .note-delete:hover {
            color: $icon-delete-color;
            cursor: pointer;
        }
    }

    .note {

        td {
            max-width: 200px;
            width: 160px;
        }
        
        .note-message {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .note-message:hover, .note-edit:hover {
            cursor: pointer;
            color: $hover-entite-color;
        }
    }
}

.add-note {
    margin-left: 24px;
}

::ng-deep .mat-menu {
    max-width: 400px !important;
}
.display-note {
    max-width: 400px;
    margin: 20px;
}
