<div class="modal-header">
    <h5 *ngIf="!noteEdit" class="modal-title">{{ 'MODAL.TITLE_ADD' | translate}}</h5>
    <h5 *ngIf="noteEdit" class="modal-title">{{ 'MODAL.TITLE_EDIT' | translate}}</h5>
        <button type="button" class="btn close">
            <span
                (click)="activeModal.dismiss()" 
                aria-hidden="true">
                {{ 'MODAL.CLOSE_X' | translate }}
            </span>
        </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label 
            for="message" 
            class="col-form-label">
            {{ 'MODAL.NOTE' | translate}}
        </label>
        <textarea
            #inputMessage
            type="text"
            id="message"
            name="message"
            class="form-control"
            required
            [(ngModel)]="message"
            [placeholder]="'MODAL.PLACEHOLDER' | translate">
        </textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button 
        type="button" 
        class="btn btn-secondary" 
        (click)="activeModal.close()">
        {{ 'MODAL.CLOSE' | translate}}
    </button>
    <button  
      *ngIf="!noteEdit"  
        (click)="createNote()"
        type="button" 
        class="btn btn-primary">
        {{ 'MODAL.CONFIRM' | translate}}
    </button>
    <button 
      *ngIf="noteEdit"  
      (click)="save()"
      type="button" 
      class="btn btn-primary">
      {{ 'MODAL.SAVE' | translate}}
  </button>
  </div>
